.tag {
    font-size: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.1em;
    vertical-align: middle;
}
.rating {
    font-size: smaller;
    margin-top: 0.2em;
}
.rating .source {
    text-align: right;
    min-width: 70px;
}
.shopping {
    padding: 1em;
}

.menu .meal {
    float: left;
    margin: 0.25em;
    padding: 0.25em;
}
h1 {
    clear: both;
    padding-top: 1em;
}
h1:first-child {
    padding-top: 0;
}

.collapsible .collapsible-content {
    display: none;
}
.collapsible .collapsible-toggle {
    cursor: pointer;
}
.collapsible .collapsible-toggle .icon-plus-squared {
    display: inline-block;
}
.collapsible .collapsible-toggle .icon-minus-squared {
    display: none;
}

.collapsible.open .collapsible-toggle .icon-plus-squared {
    display: none;
}
.collapsible.open  .collapsible-toggle .icon-minus-squared {
    display: inline-block;
}
.collapsible.open .collapsible-content {
    display: block;
}

.new-button {
    cursor: pointer;
}

.meal {
    position: relative;
}
.meal h2 {
    margin-bottom: 0.1em;
}
.meal .edit-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    opacity: 0.1;
    padding: 0.25em;
}
.meal:hover .edit-button {
    opacity: 1;
}
.meal .edit-button:hover {
    cursor: pointer;
}

.layout-column {
    max-width: 864px;
    margin: 16px;
    box-sizing: border-box;
}