<md-dialog aria-label="Add Meal">
  <form ng-cloak>
    <md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add Meal</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
    </md-toolbar>

    <md-dialog-content>
		<div class="md-dialog-content">
			<button class="" ng-click="randomMeal($event)">Random</button>
		</div>
		<div class="md-dialog-content">
			<select class="planned-meal" ng-model="targetPlannedMeal" ng-options="item as item.title for item in meals track by item.uuid"></select>
			<button class="" ng-click="specificMeal($event, targetPlannedMeal)">Select</button>
		</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="save()">Save</md-button>
		<md-button ng-click="cancel()">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>