<md-dialog aria-label="Edit Meal">
  <form ng-cloak>
    <md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Edit {{ meal.title }}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
    </md-toolbar>

    <md-dialog-content>
		<div class="md-dialog-content">
			<md-input-container>
				<label>Title</label>
				<input ng-model="meal.title">
			</md-input-container>

			<md-input-container>
				<label>Style</label>
				<md-select ng-model="meal.style">
					<md-option ng-repeat="style in styles" value="{{style}}">{{style}}</md-option>
				</md-select>
			</md-input-container>

			<md-input-container class="md-block">
				<label>Recipe</label>
				<textarea ng-model="meal.recipe" rows="5" md-select-on-focus></textarea>
			</md-input-container>
		</div>
		<md-toolbar class="md-theme-light">
			<div class="md-toolbar-tools">
				<h2 class="md-toolbar-tools"><span>Ingredients</span></h2>
				<span flex class="flex"></span>
				<i class="new-button icon-plus" ng-click="newIngredient($event)">New</i>
			</div>
		</md-toolbar>
		<div class="md-dialog-content">
			<md-list>
				<md-list-item class="md-3-line" ng-repeat="ingredient in meal.ingredients track by $index">
					<md-input-container class="md-block">
						<label>Title</label>
						<input ng-model="ingredient.title">
					</md-input-container>
					<md-input-container class="md-block">
						<label>Type</label>
						<md-select ng-model="ingredient.type">
							<md-option ng-repeat="ingredientType in ingredientTypes" value="{{ingredientType}}">{{ingredientType}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="md-block">
						<label>Count</label>
						<!--<md-select ng-model="ingredient.count">
							<md-optgroup ng-repeat="set in ingredientCounts" label="{{set.label}}">
								<md-option ng-repeat="item in set.values" value="{{item.value}}">{{item.label}}</md-option>
							</md-optgroup>
						</md-select>-->
						<input ng-model="ingredient.count">
					</md-input-container>
					<md-input-container class="md-block">
						<label>Unit</label>
						<md-select ng-model="ingredient.unit">
							<md-option ng-repeat="item in ingredientUnit" value="{{item}}">{{item}}</md-option>
						</md-select>
					</md-input-container>
					<md-button class="md-warn" ng-click="deleteIngredient($event)">Delete</md-button>
				</md-list-item>
			</md-list>
		</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
		<md-button ng-hide="meal.isNew" class="md-warn" ng-click="delete()">Delete</md-button>
		<span flex></span>
		<md-button ng-click="save()">Save</md-button>
		<md-button ng-click="cancel()">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>