<!DOCTYPE html>
<html>
	<head>
		<title>Meal Planner</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
		<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
		<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.min.js"></script>
		<script src="bower_components/showdown/dist/showdown.js"></script>
		<script src="bower_components/lodash/lodash.js"></script>
		<script src="bower_components/angular-uuid/uuid.min.js"></script>
		<script src="bower_components/ng-showdown/dist/ng-showdown.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css">

		<link rel="stylesheet" href="http://cdnicon.net/i/3d67dafdabbbdacc25045686f6ea156e/css/fontello.css">
		<link rel="stylesheet" href="http://cdnicon.net/i/3d67dafdabbbdacc25045686f6ea156e/css/animation.css">
		<!--[if IE 7]>
		<link rel="stylesheet" href="http://cdnicon.net/i/3d67dafdabbbdacc25045686f6ea156e/css/fontello-ie7.css">
		<![endif]-->

		<link rel="stylesheet" href="css/main.css">
	</head>
	<body ng-app="mealPlanner" ng-controller="mealPlanner">
		<div layout="column" tabIndex="-1" role="main" flex>

			<div class="collapsible">
				<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions collapsible-toggle">
					<div class="md-toolbar-tools">
						<h3 class="ng-binding" ng-click="toggleCollapsible($event)">
							<i class="icon icon-plus-squared"></i>
							<i class="icon icon-minus-squared"></i>
							Menu
						</h3>
						<span flex class="flex"></span>
						<i class="new-button icon-plus" ng-click="newMeal($event)">New</i>
					</div>
				</md-toolbar>
				<div class="menu collapsible-content md-whiteframe-z1">
					<md-content layout-padding>
						<div ng-repeat="meal in meals" class="meal md-whiteframe-1dp">
							<i class="edit-button icon-cog" ng-click="editMeal($event)"></i>
							<h2>{{ meal.title }} <small class="tag">{{ meal.style }}</small></h2>
							<div class="ratings">
								<div ng-repeat="rating in meal.ratings">
									<table class="rating">
										<tr>
											<td class="source">{{ rating.source }}</td>
											<td><i ng-repeat="i in getNumber(rating.value) track by $index" class="icon-star"></i></td>
										</tr>
									</table>
								</div>
							</div>
							<ul>
								<li ng-repeat="ingredient in meal.ingredients" class="ingredient" ng-class="{ [ingredient.type]: true }">
									{{ ingredient.title }}
									<small class="tag">{{ ingredient.type }}</small>
								</li>
							</ul>
							<p markdown-to-html="meal.recipe"></p>
						</div>
					</md-content>
				</div>
			</div>

			<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions collapsible-toggle">
				<div class="md-toolbar-tools">
					<h3 class="ng-binding collapsible-toggle" ng-click="toggleCollapsible($event)">
						Planned Meals
					</h3>
					<span flex class="flex"></span>
				</div>
			</md-toolbar>
			<div class="meal-plan md-whiteframe-z1">
				<md-content layout-padding>
					<md-input-container>
						<button ng-click="addMealPlan($event)">Add Meal</button>
					</md-input-container>
				</md-content>
				<md-content layout-padding>
					<div class="meals">
						<div class="planned-meal" ng-repeat="mealPlan in mealPlans track by $index">
							<div>{{ mealPlan.date | date:'yyyy-MM-dd' }} - {{ mealPlan.title }} <small class="tag">{{ mealPlan.style }}</small></div>
						</div>
					</div>
				</md-content>
			</div>

			<div class="collapsible">
				<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions collapsible-toggle">
					<div class="md-toolbar-tools">
						<h3 class="ng-binding collapsible-toggle" ng-click="toggleCollapsible($event)">
							<i class="icon icon-plus-squared"></i>
							<i class="icon icon-minus-squared"></i>
							Shopping List
						</h3>
						<span flex class="flex"></span>
					</div>
				</md-toolbar>
				<div class="shopping collapsible-content md-whiteframe-z1">
					<md-content layout-padding>
						<div class="shopping">
							<ul>
								<li class="shopping-type" ng-repeat="shoppingType in shoppingTypes track by $index">
									{{ shoppingType }}
									<ul class="ingredients">
										<li class="ingredient" ng-repeat="ingredient in shopping | filter:{type: shoppingType} track by $index">
											{{ ingredient.title }} - {{ ingredient.count }}
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</md-content>
				</div>
			</div>

			<div class="collapsible">
				<md-toolbar class="md-primary collapsible-toggle">
					<div class="md-toolbar-tools">
						<h3 class="ng-binding collapsible-toggle" ng-click="toggleCollapsible($event)">
							<i class="icon icon-plus-squared"></i>
							<i class="icon icon-minus-squared"></i>
							Meal Prep
						</h3>
						<span flex class="flex"></span>
					</div>
				</md-toolbar>
				<div class="meal-prep collapsible-content md-whiteframe-z1">
					<md-content layout-padding>
						<div class="planned-meal md-whiteframe-1dp" ng-repeat="meal in mealPlans track by $index">
							<md-subheader class="md-primary">
								{{ meal.title }} <small class="tag">{{ meal.style }}</small>
							</md-subheader>
							<ul>
								<li ng-repeat="ingredient in meal.ingredients" class="ingredient" ng-class="{ [ingredient.type]: true }">
									{{ ingredient.title }} - {{ ingredient.count }} {{ ingredient.unit }}
								</li>
							</ul>
							<div markdown-to-html="meal.recipe"></div>
						</div>
					</md-content>
				</div>
			</div>

		</div>
		<script>

		var app = angular.module('mealPlanner', ['ngCookies', 'ngMaterial', 'uuid', 'ng-showdown']);

		app.controller('mealPlanner', ($scope, $window, $http, $cookies, $timeout, $mdDialog, uuid4) => {
			$scope.options = {
				days: 7,
				planned: []
			};

			$scope.getNumber = (i) => {
				return new Array(i);
			};
			$scope.getIntegerOptions = (i, max, inc) => {
				var arr = [];
				for(; i <= max; i += inc){
					arr.push({
						value: i,
						label: i
					});
				}
				return arr;
			};
			$scope.daysOptions = $scope.getIntegerOptions(1, 30, 1);

			$scope.toggleCollapsible = function($event) {
				$($event.currentTarget).parents('.collapsible').toggleClass('open');
			};

			$http.get('/db').then((meals) => {
				$scope.meals = meals.data;
				if (_.isNil($scope.mealPlans)) {
					$scope.refreshMealPlan();
				}
			});

			$scope.newMeal = function(ev) {
				var meal = {
					uuid: uuid4.generate(),
					isNew: true,
					ingredients: []
				};
				$scope.showEditMeal(ev, meal)
				.then(function() {
					_.unset(meal, 'isNew');
					$scope.meals.push(meal);
					$http.post('/db/[]', meal);
				}, function() {
					// do nothing
				});
			};
			$scope.editMeal = function(ev) {
				var target = angular.element(ev.currentTarget).scope();
				var newMeal = angular.copy(target.meal);
				$scope.showEditMeal(ev, newMeal)
				.then(function(response) {
					if (response === 'delete') {
						var index = target.$index;
						_.remove($scope.meals, {uuid: target.meal.uuid});
						$http.delete('/db/['+index+']');
					} else {
						var index = target.$index;
						$scope.meals[index] = newMeal;
						$http.put('/db/['+index+']', $scope.meals[index]);
					}
				}, function() {
					// cancel, do nothing
				});
			};
			$scope.showEditMeal = function(ev, meal) {
				return $mdDialog.show({
					//meal: angular.element(ev.currentTarget).scope().meal,
					meal: meal,
					controller: DialogController,
					templateUrl: 'dialog1.tmpl.html',
					parent: angular.element(document.body),
					targetEvent: ev,
					clickOutsideToClose: true
				});
			}

			$scope.addMealPlan = function(ev) {
				var modal = $mdDialog.show({
					meals: $scope.meals,
					preserveScope: true,
					controller: NewMealController,
					templateUrl: 'dialog2.tmpl.html',
					parent: angular.element(document.body),
					targetEvent: ev,
					clickOutsideToClose: true
				}).then((answerMeal) => {

					if (answerMeal) {
						$scope.options.planned.push(answerMeal);
					}

				});
				return modal;
			}

			$scope.$watch('options', (oldValue, newValue) => {
				$scope.refreshMealPlan();
			}, true);

			$scope.refreshMealPlan = () => {
				var result = [];
				var allUuids = _.map($scope.meals, _.property('uuid'));
				var shopping = [];

				var nowDate = new Date();
				/*for(var i = 0; i < $scope.options.days; i++) {
					var plan = undefined;
					if (result.length > 0) {

						// attempt to pick a meal that is not already in the list
						var exsitingUuids = _.uniq(_.map(result, _.property('uuid')));
						var targetUuids = _.difference(allUuids, exsitingUuids);
						var targets = _.filter($scope.meals, (meal) => {
							return _.includes(targetUuids, meal.uuid);
						});
						if (targets.length > 0){
							console.log('picked meal not in list yet');
							plan = _.clone(_.sample(targets));
						}

						// if that does not work, attempt one that was not the last one
						if (_.isNil(plan)) {
							targets = _.reject($scope.meals, { 'uuid': _.last(result).uuid });
							if (targets.length > 0){
								console.log('picked meal that is not the last meal');
								plan = _.clone(_.sample(targets));
							}
						}
					}
					if (_.isNil(plan)) {
						console.log('picked meal randomly');
						plan = _.clone(_.sample($scope.meals));
					}

					if (!_.isNil(plan)) {
						
					}
				}*/
				_.each($scope.options.planned, (p, i) => {
					var plan = _.clone(p);
					plan.date = new Date(nowDate.getTime() + (i * 1000*86400));
					result.push(plan);
					_.each(plan.ingredients, (ingredient) => {
						shopping.push(_.clone(ingredient));
					});
				});

				var allShopping = _.groupBy(shopping, 'source');
				allShopping = _.map(allShopping, (counts, index) => {
					counts = _.map(counts, (count) => {
						if (_.isString(count.count)) {
							count.count = parseFloat(count.count);
						}
						return count;
					});
					return _.merge({}, _.first(counts), {
						'title': index,
						'count': _.sumBy(counts, 'count')
					});
				});
				allShopping = _.sortBy(allShopping, 'title');

				// setup default for "type"
				allShopping = _.map(allShopping, (item) => {
					if (_.isNil(item.type)) {
						item.type = 'Misc.';
					}
					return item;
				});

				$timeout(() => {
					$scope.mealPlans = result;
					$scope.shopping = allShopping;
					$scope.shoppingTypes = _.uniq(_.map(_.sortBy(allShopping, 'type'), 'type'));
				});
			};
		});

		function DialogController($scope, $mdDialog, meal) {
			$scope.getIntegerOptions = (i, max, inc) => {
				var arr = [];
				for(; i <= max; i += inc){
					arr.push({
						value: _.round(i, 2),
						label: _.round(i, 2)
					});
				}
				return arr;
			};
			//$scope.ingredientCounts = $scope.getIntegerOptions(0.25, 30, 0.25);
			$scope.ingredientCounts = [
				{
					'label': '1/4',
					'values': $scope.getIntegerOptions(0.25, 30, 0.25)
				},
				{
					'label': '1/3',
					'values': $scope.getIntegerOptions(0.33, 10, 0.33)
				}
			];

			$scope.meal = meal;
			$scope.styles = [
				"Mexican",
				"Indian",
				"Casserole",
				"Italian",
				"North American",
				"Asian",
				"Pasta"
			];
			$scope.ingredientTypes = [
				"Fish",
				"Meat",
				"Produce",
				"Jared",
				"Snacks",
				"Vegetable",
				"Spice",
				"Dairy",
				"Baked",
				"Canned",
				"Condiment"
			];
			$scope.ingredientUnit = [
				"cup",
				"teaspoon",
				"tablespoon",
				"can",
				"package",
				"thing",
				"lbs",
				"ounces",
				"stick",
				"slice"
			];
			$scope.hide = () => {
				$mdDialog.hide();
			};

			$scope.cancel = () => {
				$mdDialog.cancel();
			};

			$scope.save = () => {
				$mdDialog.hide();
			};
			$scope.delete = () => {
				$mdDialog.hide('delete');
			};

			$scope.newIngredient = (ev) => {
				var ingredient = {};
				$scope.meal.ingredients.push(ingredient);
			};

			$scope.deleteIngredient = (ev) => {
				var target = angular.element(ev.currentTarget).scope();
				$scope.meal.ingredients.splice(target.$index, 1)
			};
		}

		function NewMealController($scope, $mdDialog, meals) {

			$scope.meals = meals;

			$scope.hide = () => {
				$mdDialog.hide();
			};

			$scope.cancel = () => {
				$mdDialog.cancel();
			};

			$scope.save = () => {
				$mdDialog.hide();
			};
			$scope.delete = () => {
				$mdDialog.hide('delete');
			};
			$scope.randomMeal = () => {
				$mdDialog.hide( _.clone(_.sample($scope.meals)) );
			};
			$scope.specificMeal = (ev, meal) => {
				$mdDialog.hide( _.clone(meal) );
			};
		}
		</script>
	</body>
</html>
